PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=your-secret-app-key
DRIVE_DISK=local
SESSION_DRIVER=cookie
DB_CONNECTION=pg
PG_HOST=localhost
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=admin
PG_DB_NAME=Docapp3
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin123!
USER_EMAIL=user@example.com
USER_PASSWORD=User123!
TEAM_LEAD_EMAIL=lead@example.com
TEAM_LEAD_PASSWORD=Lead123!
